/* #### Text

- Pale Violet (sub-heading at the top of the app UI): hsl(276, 100%, 81%)
- Moderate Violet (chat on the left): hsl(276, 55%, 52%)
- Desaturated Dark Violet (chat on the right): hsl(271, 15%, 43%)
- Grayish Blue (placeholder text): hsl(206, 6%, 79%)
- Very Dark Desaturated Violet (main heading): hsl(271, 36%, 24%)
- Dark Grayish Violet (paragraph): hsl(270, 7%, 64%)

#### Gradients

These two colors are the vibrant background colors you see throughout the design and are applied as a linear gradient:

- Light Magenta: hsl(293, 100%, 63%)
- Light Violet: hsl(264, 100%, 61%)

### Secondary

- White: hsl(0, 0%, 100%)
- Light Grayish Violet (app background): hsl(270, 20%, 96%)
- Very Dark Desaturated Violet (submit button background): hsl(271, 36%, 24%)
- Very Light Magenta (radio button outline): hsl(289, 100%, 72%)
 */

 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

body{
    font-family: 'Rubik', sans-serif;
    width: 100%;
    height: 100vh;
}

.big-icon{
    width: 70vw;
    height: 95vh;
    background-color:  hsl(276, 100%, 81%) ;
    border-bottom-right-radius: 100%;
    margin-bottom:30px ;
    transform: translate(-30px);
     position: relative; 
} 

.card{
    position: absolute;
    background-color: white;
    box-shadow: 0 5px 14px rgb(185, 179, 179);
    border-radius: 15px;
    z-index: 999;
padding: 20px;
width: 320px;
height: 770px;
margin: 30px 30px 30px 30px;
left: 30px;
top: 50px;
}

.container{
    background-color: hsl(270, 20%, 96%);
    width:100%;
    padding: 10px;
    border-radius: 15px;
     display: flex;
    flex-direction: column; 
    position: relative;
}

.header{
    background: linear-gradient(to left, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    width: calc(100% + 20px);
    margin: -10px 0 -30px -10px; 
    height: 20px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    position: relative;
    padding: 50px;
}

.header::before{
    content: '';
    height: 30px;
    width: 200px;
    background: white;
    border-radius: 10px;
    top: -3px;
    position: absolute;
    left: 40px;
}

.header-content{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 65%;
     left: 92px; 
    transform: translate(-50%,-50%);
}


.icon-1 .fa{
color: white;
opacity: .8;
margin-right: 5px;
}

.icon-3{
    transform: translateX(80px);
}

.icon-3 .fa{
    color: white;
    opacity: .8;
}

.content{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image img{
    width:30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid white;
}

.info{
    margin-left: 5px;
}

.info h3{
    color: white ;
    font-weight: 700;
}

.info p{
    color: white;
    opacity: 0.6;
    font-size: 14px;
}

.chat-1,.chat-2,.chat-5{
    color: hsl(276, 55%, 52%);
    background-color: hsl(206, 6%, 79%) ;
    margin: 0px 0;
    border-radius: 15px;
    padding: 10px 20px;
  width: 70%;
  height: 70px;
  position: relative;
}

.chat-5{
   height: 80px; 
   margin-bottom: 10px;
}

.chat-1 p,.chat-2 p,.chat-5 p{
    width: 90%;
    position: absolute;
    font-size: 14px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.chat-1{
    margin: 50px 0 10px 0;
}

.chat-3,.chat-4{
    width: 50%;
  height: 70px;
    color: hsl(271, 15%, 43%)  ;
    background: white;
    margin: 10px 0;
    margin-left: 20px;
    border-radius: 15px;
     padding: 10px 20px ;
    float: right;
    position: relative;
}

.chat-4{
    height: 30px;
    margin: 0px 0 10px 0;
    width: 50%;
}

.chat-3 p,.chat-4 p{
    width: 100%;
    position: absolute;
    font-size: 14px;
    top: 50%;
    left: 50%;
     transform: translate(-40%,-50%); 
}

.pictures{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right:-10px ;
}

.pictures img{
    width: 50px;
    height: 50px;
    border-radius: 15px;
    margin: 15px 10px 5px 0;
}

.buttons{
    display: flex;
    flex-direction: column;
}

.button-1,.button-2{
    width: 90%;
    font-family: 'Rubik', sans-serif;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 15px;
    border: none;
    color: white;
    background: linear-gradient(to right, hsl(293, 100%, 63%),hsl(264, 100%, 61%));
}

 .button-1 .fa,.button-2 .fa{
    margin-right: 10px;
    color: transparent;
    border: 1px solid white;
    border-radius: 50%;
 }

 .price-1{
    margin-left: 40px;
 }

 .price-2{
    margin-left: 68px;
 }
 
 input{
    float: left;
    padding: 15px;
    border: none;
    border-radius: 20px;
    margin: 10px 0 25px 0;
 }

 input:focus{
    outline: none;
 }

 .icon-2{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin: -65px 0px 0 -25px;
 }

 .icon-2 .fa{
    display: flex;
    align-items: center;
    justify-content: center;
    background: hsl(271, 36%, 24%);
    border-radius: 50%;
    color: white;
    width: 35px;
    height: 35px;
 }

 ::placeholder{
    color:hsl(206, 6%, 79%) ;
 }

.second-section{
    margin: 200px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

.second-section h1{
    color: hsl(271, 36%, 24%);
}

.second-section p{
    color:hsl(206, 6%, 79%) ;
    font-weight: 500;
    width: 100%;
    line-height: 25px;
    margin: 15px 0;
}

@media screen and (min-width:768px){
     .big-icon{
        width: 45vw;
        height: 95vh;
        transform: translate(-170px,-50px);
        border-bottom-left-radius: 50%;
    } 

.card{
    transform: translate();
    top: 10%;
    left: 70%;
}

    .chat-app-container{
         display: flex;
         align-items: center;
         justify-content: center;
    }



    .second-section{
        padding: 30px;
        width: 40%;
        text-align: initial;
        align-items: initial;
        margin-left: 20px;
    }

    .second-section p{
        font-size: 18px;
    }
    
}
